body {
    font-family: Arial, sans-serif;
    background-color: #f3e5f5; /* Lilás claro */
    color: #4a148c; /* Roxo escuro */
    margin: 0;
    padding: 0;
  }
  .app {
    text-align: center;
  }
  a {
    text-decoration: none;
    color: white;
    background-color: #7b1fa2;
    padding: 10px 20px;
    border-radius: 5px;
  }
  a:hover {
    background-color: #4a148c;
  }
  